In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# python 빌트인 os 라이브러리 import 및 파일 위치 확인
# 1주차 실습을 위한 pandas 라이브러리 import 및 pd로 alias 지정

import os
import pandas as pd
import numpy as np

In [4]:
os.listdir('./drive/MyDrive/machine_learning_data')

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend.csv',
 'new_friend_index_true.csv']

In [5]:
#데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src =  base_src + '/friend.csv'

In [6]:
# pandas의 read_csv => 데이터 불러오기
df = pd.read_csv(friend_src, encoding='utf-8')

In [7]:
# head() 데이터를 읽어보기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [8]:
new_friend_src = base_src + "/new_friend_index_true.csv"

'./drive/MyDrive/machine_learning_data/new_friend_index_true.csv'

In [2]:
df.to_csv(new_friend_src, index=False, encoding='utf-8') #index=False 는 중요 왜냐 데이터 줄일 수 있음 1열에 0,1,2,3,.. = 의미없는 숫자
new_frien_src

NameError: ignored

In [ ]:
os.listdir(base_src)

['train.csv',
 'test.csv',
 'friend.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'DataFrame_1.ipynb']

In [ ]:
new_friend_index_true = pd.read_csv(new_friend_src)

In [ ]:
# 조회 <= 인덱스 사용이유 => 데이터 정렬

In [ ]:
new_friend_index_true

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
pd.Series([1,2,3]) # 연산속도 numpy보다 느림

0    1
1    2
2    3
dtype: int64

In [ ]:
# Series 실습
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [ ]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
# 데이터프레임(집합) => 시리즈(단일) => 데이터프레임 (둘이 상호관계에 있다)
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [ ]:
# pd.Series 함수를 통해서 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#pd.Serires 의 옵션이 무엇이 있는지 확인
# index => 할당값의 지정 이름, 중복 가능['a','a','b','c']
# dtype => 대표적 : int, float, string, boolean 등
series = pd.Series([1,2,3,4], index=['a','b','c','d'], dtype=float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
series = pd.Series([10,2,5,4], index=['a','b','c','d'], dtype=float)
series.sort_values(ascending=True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [ ]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [ ]:
# DataFrame 실습
df = pd.DataFrame({'a':[2,3],'b':[5,10]},columns=['b','a'])
df

    b  a
0   5  2
1  10  3

In [ ]:
# df =  pd.DataFrame()
# raw data => 가공처리(for문으로) =>  df = pd.concat([df, df_new], axis=0)

In [ ]:
df = pd.DataFrame([[2,5],[3,10],[10,20]], columns=['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [ ]:
df = pd.DataFrame([[2,5,100], [3,10,200], [10,20,300]], 
                  columns=['a','b','c'], index=['가','나','다'], dtype=float)
df

      a     b      c
가   2.0   5.0  100.0
나   3.0  10.0  200.0
다  10.0  20.0  300.0

In [ ]:
#  - DataFrame 행,열 선택 및 필터링
df = pd.read_csv(friend_src, encoding = 'utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
# index 2번에 해당하는 row 가져오가ㅣ
df.iloc[2] #Series 형식으로 됨

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [ ]:
df.iloc[[2]] # 중괄호 2개 -> DataFrame 형식으로 됨

   name  age      job
2  Nate   30  teacher

In [ ]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.iloc[:,2] # 숫자로 검색 괄호안 왼쪽은 row 오른쪽은 column

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.loc[:,'job'] # 문자로 검색  #ㅈㄴ 중요

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.iloc[1,2]' # ㅈㄴ중요

SyntaxError: ignored

In [ ]:
df.iloc[2:4]

In [ ]:
df.iloc[:,:2] # row만 하는건 가능 그러나 column만 하는건 불가능 row도 같이 해줘야 가능

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [ ]:
df.index = [1,2,3,4,5,6]
df

    name  age        job
1   John   20    student
2  Jenny   30  developer
3   Nate   30    teacher
4  Julia   40    dentist
5  Brian   45    manager
6  Chris   25     intern

In [ ]:
df.loc[2,:] #DataFrame 있는 그대로의 인덱스 값 반환

name        Jenny
age            30
job     developer
Name: 2, dtype: object

In [ ]:
df.iloc[2,:] #List개념으로 list의 인덱스 값 반환

name       Nate
age          30
job     teacher
Name: 3, dtype: object

In [ ]:
df['new_columns'] = [1,2,3,4,5,'창현']
df['new_columns'] # dtype을 결정하는 우선순위 / 문자 => 실수 => 정수

1     1
2     2
3     3
4     4
5     5
6    창현
Name: new_columns, dtype: object

In [ ]:
# 많이 하는 질문
# iloc vs loc 차이
# iloc 인덱스와 컬럼을 리스트 배열로 선택
# loc는 인덱스와 컬럼을 문자로 선택하는 것
# 따라서 상황에 맞게 선택

In [ ]:
# - DataFrame 행, 열 삭제
df = pd.DataFrame(np.arange(12).reshape(3,4), # reshape = 3행, 4열로 만들어준다는 뜻
                  columns=['A','B','C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df.drop(['B','C'], axis=1, inplace=True) #axis = 0 or 1 // 0 = row , 1 = column

In [ ]:
df.drop([0,1], axis =0) #axis Defalut 값 == 0

   A   D
2  8  11

In [ ]:
df.loc[1,'C'] ='육'
df

   A   D    C
0  0   3  NaN
1  4   7    육
2  8  11  NaN

In [ ]:
df.iloc[1,2] = 6
df

   A   D    C
0  0   3  NaN
1  4   7    6
2  8  11  NaN

In [ ]:
# 슬라이싱을 기능을 활용하면 내가 원하는 범위까지 잘 수정 가능
df.iloc[:,1] = "끝!"
df

   A   D    C
0  0  끝!  NaN
1  4  끝!    6
2  8  끝!  NaN

In [ ]:
df.iloc[:,:] = "오늘 수업 끝!"
df

          A         D         C
0  오늘 수업 끝!  오늘 수업 끝!  오늘 수업 끝!
1  오늘 수업 끝!  오늘 수업 끝!  오늘 수업 끝!
2  오늘 수업 끝!  오늘 수업 끝!  오늘 수업 끝!